//Definição das variáveis globais
$primary-color: #96c11f;
@mixin hover {
		opacity: .8;
}


a{
	text-decoration: inherit;
	color: inherit;

}

h1{
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
	font-family: Kozuka;
}

#copyright .row {
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
}
#copyright .row a {
	color: #fff;
}

.thin{
  display: inline-block;
  font-weight: 300;
}


.header-top {
	background-color: #222222;
	height: 52px;
	border-bottom: 5px solid $primary-color;
}

.small-social * {
	display: inline-block;
}

.small-logo {
	padding: 3px;
}

.small-logo a:hover{
	@include hover;
}

.facebook,
.instagram,
.youtube {
	padding-top: 10.5px;
	padding-left: 5px;
	padding-right: 5px;
}

.logo-completo{
	margin-top: 52px;
}

.logo-academis-ead-verde{
	margin-top: 45px;
}

.logo-academis-ead-verde h5{
	font-size: 12px;
	margin-top: 21px;
	font-weight: 500;
}

.logo-academis-ead-verde h6{
	margin-top: -4px;
	font-weight: 300;
	font-size: 8px;
}

.telefone{
	margin-top: 50px;
	white-space: nowrap;

}

.maozinha{
	display: inline-block;
}

.texto-telefone{
	display: inline-block;

}


.numero-telefone{
	font-weight: 800;
	font-size: 24.5px;
	margin-top: 0;
}

.compre-telefone{
	font-size: 14px;
	margin-bottom: 0;
	letter-spacing: 0.8px;
}

.menu{
	color: #fff;
	width: 100%;
	height: 50px;
	background-color: $primary-color;
	font-family: Kozuka;
	font-weight: 500;
	font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-button-wrapper{
  padding: 7px;
}

.menu ul li{
	padding-left: 11px;
	padding-right: 11px;
	display: inline-block;
}

.menu ul li:hover {
  font-weight: 700;
}

.current{
  font-weight: 700;
}

.current:before{
	font-family: Material Icons;
	font-size: 10px;
	content: "keyboard_arrow_right"
}

#proxima-turma{
  margin-top: 27px;
}

.box-proxima-turma{
  background-size: cover;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  height: 177px;
}

.box-proxima-turma .row,
.box-proxima-turma .col {
  height: 177px;
}

.box-proxima-turma .inovais-btn-red{
  width: 212px;
  height: 55px;
  font-size: 14px;
  padding-right: 60px;
}

.box-proxima-turma .inovais-btn-red:after{
  line-height: 55px;
  width: 50px;

}

.box-proxima-turma h5{
  font-size: 14px;
}

.cta-proxima-turma{
  margin-top: -38px;
}

.video{
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 55.86%;
}

#informacoes{
  margin-top: 42px;
}

.info{
  margin-top: 42px;
	height: 380px;
}

.img-info{
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  width: 145px;
  height: 145px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 53% auto;
  border-radius: 100%;
  border: 8px solid #ececec;
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
}

.img-info:hover{
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  border-color: $primary-color;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.info h6 {
	text-transform: uppercase;
  color: #8a9fa9;
  font-family: Kozuka;
  font-weight: 700;
  font-size: 13px;
  line-height: 135%;
  margin-top: 22px;
  min-height: 50px;
}

.info p {
	max-width:inherit;
  word-wrap:break-word;
	margin: 0 auto;
  color: #8a9fa9;
  font-family: Kozuka;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 7px;
  margin-top: 22px;
	height: 80px;

}

.info hr{
  width: 188px;
  border: 2px solid #0095db;
}

.info .more-horiz,
.info .add{
  color: #7c7c7d;
}

.info .add{
  font-size: 11px;
}

.ler-mais{
width: 70px;
margin-top: 0 !important;
margin-bottom: 0 !important;
margin-left: 70%;
}

.ler-mais:hover{
  cursor: pointer;
  color: $primary-color;
}
.info .more-horiz:hover{
  cursor: pointer;
  color: $primary-color;
}

.titulo-noticias{
  margin-bottom: 8px;
  font-size: 16px;
  color: #8a9fa9;
  font-family: Kozuka;
  font-weight: 500;
}

.titulo-noticias span{
  line-height: 200%
}


.noticia{
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;

}

.img-noticia{
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
	width: 100%;
	padding-top: 100%;
	position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
}

.img-noticia:hover{
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  border-color: $primary-color;
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
}
.texto-noticia{
  padding-right: 6px;
}

.noticia h6 {
  color: $primary-color;
  font-family: Kozuka;
  font-weight: 700;
  font-size: 13px;
  line-height: 200%;
  margin-top: 15px;
	text-overflow: ellipsis;
}

.noticia p {
  font-family: Kozuka;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 7px;
  margin-top: 12px;
}

#parceiros{
  margin-top: 70px;
  padding: 45px;
  background-color: #e5ebee;
  height: 290px;
}

.parceiros{
  margin-top: 40px;
}

#ligue h2{
  font-family: Kozuka;
  font-weight: 500;
  font-size: 26px;
  line-height:130%;
}

#formas-pagamento{
	margin-top: 40px;
}

#formas-pagamento p{
  font-size: 12px;
}

#footer{
  overflow: hidden;
  background-color: #222222;
  height: 52px;
}

#footer .facebook,
#footer .instagram,
#footer .youtube {
  height: 51px;
  padding: 0;
  padding-top: 26px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo-academis-site-seguro{
  padding-top: 18px;
}

.logo-academis-site-seguro img{
  padding-left: 44px;
}


.calendar-pos{
  position: relative;
}

.calendario-turma{
    -webkit-filter: drop-shadow( -1em 1em 0.6em rgba(0,0,0,0.4));
  filter: drop-shadow( -1em 1em 0.6em rgba(0,0,0,0.4));
  position: absolute;
  top: -20px;
  right: 20px;
  height: 135px;
  width: 135px;
  padding-top: 2.3em;
}

.calendario-turma .dia{
  font-weight: 900;
  font-size: 3.5em;
}

.calendario-turma .mes{
  font-weight: 700;
  font-size: 1em;
}

.logo-completo{
  position: relative;
}

.logo-completo img{
	max-width: 470px;
}
.calendario-logo{
    -webkit-filter: drop-shadow( -0.3em 0.3em 0.25em rgba(0,0,0,0.4));
  filter: drop-shadow( -0.3em 0.3em 0.25em rgba(0,0,0,0.4));
   position: absolute;
  top: -45px;
  left: 42%;
  padding-top: 0.4em;
  height: 51px;
  width: 51px;
}

.calendario-logo .dia{
  font-weight: 900;
  font-size: 1.31em;
  margin-bottom: 0;
}

.calendario-logo .mes{
  font-weight: 700;
  font-size: .6em;
  margin-top: .2em;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .noticia{
    margin-top: 40px;
  }

  .noticia h6{
    margin-top: 8px;
  }
}




.sidebar-container{
  padding-right: 0 !important;
  margin-top: 15px;
}

.corpo{
  padding-left: 0 !important;
}

.sidebar-item{
  margin-top: 27px;
	max-width: 100%;
}
.sidebar-item-title{
  padding: 0.1px;
  padding-left: 12px;
  color: #ffffff;
  min-height: 36px;
  background-color: $primary-color;
  margin-bottom: 3px;
}

.sidebar-item-title h5{
  font-family: Kozuka;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-item-image-box{
	-webkit-transition: ease-in-out 0.1s;
	transition: ease-in-out 0.1s;
	width: 100%;
	padding-top: 100%;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

iframe{
	margin: auto 0;

}

@media only screen and (max-width : 1192px) {
	.sidebar-container{
		padding-left: 0 !important;
	}
	iframe{
	width: 325px;

	}

	.corpo{
		padding-right: 0 !important;
	}
}


#content nav{
  background-color: transparent;
  box-shadow: none;
  font-family: Kozuka;
}

.bc{
  margin-left: -5px;
  color: #333333;
  width: 100%;
  height: 20px;
  font-family: Kozuka;
  font-weight: 500;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-button-wrapper{
  padding: 7px;
}

.bc ul li{
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.bc ul li:hover {
  font-weight: 700;
}

.bc-arrow{
  -webkit-filter: contrast(0%);
          filter: contrast(0%)
}


#content{
  font-family: Kozuka;

}

#content h1{
  font-size: 40px;
  font-weight: 900;
  margin-top: 20px;

}

#content h2{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

#content p{
  margin-top: 10px;
  margin-bottom: 40px;
}

.cta-icones-pagamento{
  display: inline-block;
  margin-left: 10px;
}

.cta-sobre .inovais-btn-red{
  top: -19px;
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
  width: 180px;
  height: 45px;
  padding: 10px 55px 10px 15px;
}

.cta-sobre .inovais-btn-red:after{
  padding-top: 0.3em;
  width: 45px;
}

.infos-curso{
  height: 160px;

}

.infos-curso-mobile{
  height: auto;

}
.box-infos-curso-mobile{
	font-size: 12px;
}
.box-infos-curso{
  margin-left: 1px;
	width: 76%;
}

.box-img-infos{

	width: 160px;
	min-width: 160px;
}

.img-infos-curso{
  display: inline-block;
	width: 100%;
	padding-top: 100%;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.horas-infos-curso,
.duracao-infos-curso,
.modulos-infos-curso{
  padding: 14px;
  color: #fff;
  background-color: $primary-color;
  height: 52.66px;
  width: 100%;
  margin-bottom: 1px;
}

.modulos-infos-curso{
	margin-bottom: 0;
}

.horas-infos-curso b,
.duracao-infos-curso b,
.modulos-infos-curso b{
  font-weight: 900;
}

.modulo{
  margin-top: 40px;
}

.modulo:after{
  height: 10px;
}



.conteudo-modulo h2{
  font-size: 17px !important;
  margin: 0;
}

.conteudo-modulo p{
  font-size: 13px;
  color: #333;
  margin-top: 8px !important;
  margin-bottom: 0 !important;
}



.numero{
  font-weight: 300;
  font-size: 26px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 20%;
	margin-bottom: 20px;
}


.foto-professor{
  height: 148px;
  width: 148px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.dados-professor h2{
  font-size: 16px !important;
  margin-top: 5px;
  color: #0095db;
}

.dados-professor h6{
  font-size: 13px !important;
  margin-top: 2px;
  color: #0095db;
}

.dados-professor li{
  color: #444;
  font-size: 11px;
}

.dados-professor li:before {
  font-family: Material Icons;
  content: "bookmark";
}


.professor:after{
  height: 30px;
}

.form-contato{
	margin-bottom: 40px;
}

.input-field .prefix.active{
	color: $primary-color !important;
}

#contato input,
#contato textarea{
  padding-left: 40px;
  margin-left: 0;
  margin-right: 0;
}
#contato input,
#contato textarea{
  font-family: Kozuka;
  border: none;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 5px;

}

#contato input:focus{
  box-shadow: none;
  border-bottom: none;
border: 1px solid rgba(0,0,0,0.2);
}

#contato .input-field i{
  font-size: 24px;
  top: 15px;
  left: 11px;
}

#contato .input-field{
  margin: 0;
}

#contato textarea{
  padding-top: 12px;
  width: 99.5%;
  height: 90px;
}

.btn-enviar{
  padding: 13px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-family: Kozuka;
  font-weight: 300;
  color: #fff;
  width: 150px;
  height: 44px;
  background-color: $primary-color;
  border: none;
  border-bottom: 1px dotted #000;
  border-radius: 3px;
  vertical-align:middle;
}

.btn-enviar:hover{
	background-color: #8eb81c;

}

.btn-enviar:active{
	background-color: #82a818;

}


.btn-enviar:before{
  margin-right: 4px;
  font-size: 14px;
  vertical-align:middle;
  font-family: Material Icons;
  content: "send";
}


.precos{
  font-family: Kozuka;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  height: 301px;
}

.precos .l2{
  position: relative;
}

.precos h4{
  font-weight: 700;
  color: white;
  font-size: 14px;
  background-color: black;
  padding: 5px;
  width: 71.5px;
}

.precos h5{
  font-size: 12px
}

.calendario-precos {
  -webkit-filter: drop-shadow( -0.3em 0.3em 0.25em rgba(0,0,0,0.4));
  filter: drop-shadow( -0.3em 0.3em 0.25em rgba(0,0,0,0.4));
  position: absolute;
  top: -15px;
  padding-top: 0.8em;
  height: 82px;
  width: 75px;
}

.calendario-precos .dia{
  font-weight: 900;
  font-size: 2.25em;
  margin-bottom: 0 ;
	margin-top: .5em ;
}

.calendario-precos .mes{
  font-weight: 700 ;
  font-size: .8em;
  margin-top: .1em ;
}

.logo-ceaico-preto{
  margin-top: 20px;
  margin-bottom: -7px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.logo-academis-preto{
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.precos h6{
  margin-top: -2px;
  font-weight: 300;
  font-size: 8px;
}

.valor{
  width: 200px
}


.dropdown-content{
  width: 90% !important;
	min-height: 300px;

}

.dropdown-content li a{
  color: $primary-color;
}

.dropdown-button{
  font-size: 16px;
  padding-left: 15px;
  padding-top: 5px;
}

.dropdown-button:before{
  margin-right: 4px;
  font-size: 30px;
  vertical-align:middle;
  font-family: Material Icons;
  content: "menu";
}


.small-social .instagram:hover,
.small-social .facebook:hover,
.small-social .youtube:hover{
	@include hover;
}



.post-image-img{
	max-width: 100%;
}

/* Medium Devices, Desktops */


/* larger*/
@media only screen and (min-width : 993px) {
	.full-menu{
		display: block !important;

	}

	.dropdown-button{
		display: none;
	}
}


@media only screen and (max-width : 992px) {
	.full-menu{
		display: block !important;

	}

	.dropdown-button{
		display: none;
	}
}



/* Small Devices, Tablets */
@media only screen and (max-width : 765px) {



	.full-menu{
		display: none !important;

	}

	.dropdown-button{
		display: block;
	}

	#footer{
		height: auto;
	}

	.logo-academis-site-seguro{
		text-align: center;

	}

	.logo-academis-site-seguro img{
		padding-left: 0;
	}

	.logo-academis-site-seguro img:first-child{
		margin-right: 20px;
	}

	#footer .small-social{
		text-align: center !important;

	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.icones-pagamento img:last-child{
		height: auto;
	width: 280px;
	margin-top: 10px
	}

	iframe{
		width: 280px
	}

}



@font-face {
  font-family: 'Kozuka';
	src: url('../fonts/kozuka/kozinovais-l-webfont.eot');
	src: url('../fonts/kozuka/kozinovais-l-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/kozuka/kozinovais-l-webfont.woff2') format('woff2'),
			 url('../fonts/kozuka/kozinovais-l-webfont.woff') format('woff'),
			 url('../fonts/kozuka/kozinovais-l-webfont.svg#../fonts/kozuka/kozinovaisl') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kozuka';
	src: url('../fonts/kozuka/kozinovais-r-webfont.eot');
	src: url('../fonts/kozuka/kozinovais-r-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/kozuka/kozinovais-r-webfont.woff2') format('woff2'),
			 url('../fonts/kozuka/kozinovais-r-webfont.woff') format('woff'),
			 url('../fonts/kozuka/kozinovais-r-webfont.svg#../fonts/kozuka/kozinovaisr') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kozuka';
	src: url('../fonts/kozuka/kozinovais-m-webfont.eot');
	src: url('../fonts/kozuka/kozinovais-m-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/kozuka/kozinovais-m-webfont.woff2') format('woff2'),
			 url('../fonts/kozuka/kozinovais-m-webfont.woff') format('woff'),
			 url('../fonts/kozuka/kozinovais-m-webfont.svg#../fonts/kozuka/kozinovaism') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kozuka';
	src: url('../fonts/kozuka/kozinovais-h-webfont.eot');
	src: url('../fonts/kozuka/kozinovais-h-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/kozuka/kozinovais-h-webfont.woff2') format('woff2'),
			 url('../fonts/kozuka/kozinovais-h-webfont.woff') format('woff'),
			 url('../fonts/kozuka/kozinovais-h-webfont.svg#../fonts/kozuka/kozinovaish') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kozuka';
	src: url('../fonts/kozuka/kozinovais-b-webfont.eot');
	src: url('../fonts/kozuka/kozinovais-b-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/kozuka/kozinovais-b-webfont.woff2') format('woff2'),
			 url('../fonts/kozuka/kozinovais-b-webfont.woff') format('woff'),
			 url('../fonts/kozuka/kozinovais-b-webfont.svg#../fonts/kozuka/kozinovaisb') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-design-icons/Material-Design-Icons.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       local('Material-Design-Icons'),
       url(../fonts/material-design-icons/Material-Design-Icons.woff2) format('woff2'),
       url(../fonts/material-design-icons/Material-Design-Icons.woff) format('woff'),
       url(../fonts/material-design-icons/Material-Design-Icons.ttf) format('truetype');
}


div.angrytext {
 display: inline-block;
 -webkit-animation: jump 1.5s ease 0s infinite normal ;
 animation: jump 1.5s ease 0s infinite normal ;
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  20%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  40%{
	-webkit-transform: translateX(-30px);
	transform: translateX(-30px);
  }
  50%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  60%{
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
  }
  80%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  100%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
}

@keyframes jump {
  0%{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
  }
  20%{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
  }
  40%{
	-webkit-transform: translateX(-30px);
	        transform: translateX(-30px);
  }
  50%{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
  }
  60%{
	-webkit-transform: translateX(-15px);
	        transform: translateX(-15px);
  }
  80%{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
  }
  100%{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
  }
}
