.center{
  margin: 0 auto;
}

.inovais-dotted-border{
  border-bottom: 1px dotted black;
}
/*Start of red stilyzed button with green hover*/
.inovais-btn-red{
  transition: ease-in-out 0.1s;
  font-size: 11px;
  font-family: Kozuka;
  font-weight: 700;
  color:#fff;
  position:relative;
  width: 146px;
  height: 35px;
  background:#ea513a;
  padding:10px 45px 10px 15px;
  border: none;
  border-radius:2.2px;
  box-shadow: inset 0px 0px 0px #b73f2d, 0px 3px 0px 0px #b73f2d, 0px 10px 5px transparent;
  cursor:pointer;
}

.inovais-btn-red:after{
  transition: ease-in-out 0.1s;
  font-family: 'Material Icons';
  font-size: 2em;
  color: #b73f2d;
  position:absolute;
  right:0;
  top:0;
  width: 34px;
  height: inherit;
  background: #454445;
  padding-top: 2px;
  line-height: 35px;
  border-radius: 0px 2.2px 2.2px 0;
  box-shadow: inset 0px 0px 0px #363535, 0px 3px 0px 0px #363535, 0px 10px 5px transparent;
  content: 'keyboard_arrow_right';
}

.inovais-btn-red:hover{
  transition: ease-in-out 0.2s;
  box-shadow: inset 0px 0px 0px #909b05, 0px 3px 0px 0px #909b05, 0px 10px 5px transparent;
  background-color: #b8c807;
}

.inovais-btn-red:hover:after{
  transition: ease-in-out 0.2s;
  color: #b8c807;
}


.inovais-btn-red:active {
  transition: none;
  top: 3px;
  box-shadow: inset 0px 0px 0px #909b05, 0px 1px 0px 0px #909b05, 0px 5px 3px transparent;
}

.inovais-btn-red:active:after {
  transition: none;
  box-shadow: inset 0px 0px 0px #363535, 0px 1px 0px 0px #363535, 0px 5px 3px transparent;
}
/*End of red stilyzed button with green hover*/


/*Start of calendars*/

.calendario{
  font-family: Kozuka;
  color: #414142;
  background-image: url(../img/calendario.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.calendario .mes{
  text-transform: uppercase;
}
/*End of calendars*/
